;; Protean Sim Utilities
;;;;;;;;;;;;;;;;;;;;;;;;

(ns protean.sim.utils
  (:require [protean.core.transformation.sim :refer :all]))

;; =============================================================================
;; Utility Functions
;; =============================================================================

(defn util-rsp [] (do (success) (println ">>>> echo req : " *request*)))


;; =============================================================================
;; Utility Endpoints
;; =============================================================================

{
  "protean-utils" {
    "echo" {
      :put [#(util-rsp)]

      :post [#(util-rsp)]

      :patch [#(util-rsp)]
    }
  }
}
