;; Protean Sim Utilities
;;;;;;;;;;;;;;;;;;;;;;;;

(ns protean.sim.utils
  (:require [protean.api.transformation.sim :refer :all]
            [taoensso.timbre :as l]))

;; =============================================================================
;; Utility Functions
;; =============================================================================

(defn echo [request] (l/info ">>>> echo req : " request))

;; =============================================================================
;; Utility Endpoints
;; =============================================================================

{
  "protean-utils" {
    "echo" {
      :post  (fn [request responses] (echo request) (first (filter #(= (:status %) 201) responses)))
      :put   (fn [request responses] (echo request) (first (filter #(= (:status %) 204) responses)))
      :patch (fn [request responses] (echo request) (first (filter #(= (:status %) 204) responses)))
    }
  }
}
