;; Useful functions codex

{
  :includes [ "defaults.edn" ]

  :title "Protean Utils"
  :doc "Useful endpoints to aid simulation."

  "protean-utils" {
    "echo" {
      :post  {:doc "An echo endpoint" :rsp {:201 {} :400 {}}}
      :put   {:doc "An echo endpoint" :rsp {:204 {} :400 {}}}
      :patch {:doc "An echo endpoint" :rsp {:204 {} :400 {}}}
    }
  }
}
