;; Sample API codex
;;
;; We call Protean Project/Service configurations codices
;; The sample codex illustrates most if not all of what is possible
;; with Protean

{
  :sample {
    :paths {
      "simple" {
        :get { :doc "A get on sample/simple - doc is optional" }
      }

      "header" {
        :get {
          :doc "A get with response header"
          :rsp {:headers {"Flibble" "Blurb"} :errors {:probability 0}}
        }
      }

      "multimethod" {
        :get { :doc "A get on sample/multimethod" }
        :put { :doc "A put on sample/multimethod" }
      }

      "test/*" {
        :get {
          :doc "Get with path parameter wildcard and configurable
                error and probability"
          :rsp {
            :body {"t1key" "t1val"}
            :errors {:status [504] :probability 50}
          }
        }
      }

      "xml" {
        :get {
          :doc "Get with XML content type/response"
          :rsp {
            :headers {"Content-Type" "text/xml"}
            :body [:parent [:child {:type "xml"}]]
          }
        }
      }

      "test" {
        :get {
          :doc "Get with mandatory request headers/query str params"
          :req {
            :headers {"X-Auth" "XYZ"}
            :query-params {:required {"blurb" "flibble"}}
          }
          :rsp {:body {"t2key" "t2val"}}
        }

        :post {
          :doc "Post with mandatory request url encoded form"
          :req {:form-params {"k1" "v1"}}
          :rsp {:headers {"Location" "7"}}
        }

        :put {
          :doc "Put with mandatory body payload - defaults to JSON,
                demonstrates overriding response status code"
          :req {:body {"k1" "v1" "k2" "v2"}}
          :rsp {:status 200}
        }

        :delete {:doc "Delete sample"}
      }

      "slow" {
        :get {
          :doc "Get with slow response (secs) - useful for testing timeouts"
          :rsp {:time 2}
        }
      }
    }
    :errors {:status [500 503] :probability 25}
  }
}
