;; Sample Api codex
;;
;; We call Protean Project/Service configurations codices
;; The sample codex illustrates most if not all of what is possible
;; with Protean

{
  :sample {
    :paths {
      "get/test/*" {
        :rsp {
          :body {"t1key" "t1val"}
          :errors {:status [504] :probability 50}
        }
      }
      "random/test2" {
        :req {
          :headers {"X-Auth" "XYZ"}
          :req-params {"blurb" "flibble"}
        }
        :rsp {:body {"t2key" "t2val"}}
      }
      "get/xml" {
        :rsp {
          :content-type "text/xml"
          :body [:parent [:child {:type "xml"}]]
        }
      }
      "post/test" {
        :req {
          :method :post
          :form {"k1" "v1"}
        }
        :rsp {:headers {"Location" "7"}}
      }
      "put/test1" {
        :req {:body {"k1" "v1" "k2" "v2"}}
        :rsp {:status 200}
      }
      "put/test2" {}
      "get/slow" {:rsp {:time 2}}
    }
    :errors {:status [500 503] :probability 25}
  }
}
