;; Sample API codex
;;
;; We call Protean Project/Service configurations codices
;; The sample codex illustrates most if not all of what is possible
;; with Protean
;;

{
  :includes [ "defaults.edn" ]

  "petstore" {

    :types {
      :Status "(available|pending|sold)"
    }
    :req {
      :vars {
        "status" {:type :Status :doc "Updated status of the pet"}
      }
    }


    "api/pet" {

      :put {
        :doc "Update an existing pet"
        :errors {:status [400 404 405]} ; Need to document the error codes
      }

      :post {
        :doc "Add a new pet to the store"
        :errors {:status [405]}
      }

    }
  
    "api/pet/*" {

      :types {
        :PetId "[0-9a-zA-Z]{3,7}"
      }
      :req {
        :vars {
          "pet/psv+" {:type :PetId :doc "ID of pet"}
        }
      }

      :post {
        :doc "Updates a pet in the store with form data"
        :req {
          :query-params {:required {"name" "psv+name" "status" "psv+status"}}
          :body {"name" "psv+name" "status" "psv+status"} ; an alternative to query-params (should have required/optional?)
          :vars {
            "name" {:type :String :doc "Updated name of the pet"}
            "status" {:type :Status :doc "Updated status of the pet"}
          }
        }
        :errors {:status [405]}
      }

      :get {
        :doc "Find a pet by ID"
        :errors {:status [400 404]}
      }

      :delete {
        :doc "Deletes a pet"
      }

      :patch {
        :doc "Partial updates to a pet"
      }

    }

    "api/pet/findByStatus" {
      :get {
        :doc "Finds pets by status"
        :req {
          :query-params {:optional {"status" "psv+status"}}
        }
      }
    }

    "api/pet/findByTags" {
      :get {
        :doc "Finds pets by tags"
        :req {
          :query-params {:required {"tags" "psv+tags"}}
          :vars {"tags" {:type :String :doc "Tags to filter by"}}
        }
      }
    }

    "api/pet/uploadImage" {
      :post {
        :doc "uploads an image"
        :req {
          :query-params {:required {"additionalMetadata" "psv+additionalMetadata"}}
;           {"file" {:type :File}} ; Binary?; Multipart?
          :vars {"additionalMetadata" {:type :String, :doc "Additional data to pass to server"}}
        }
      }
    }
  }
}
