;; Sample API codex
;;
;; We call Protean Project/Service configurations codices
;; The sample codex illustrates much if not all of what is possible
;; with Protean
{
  :includes [ "defaults.edn" ]

  :title "Pet Store API Docs"
  :doc "A sample pet store is often created in RESTful toolkits to demonstrate capability."
  :types {
    :Status "(available|pending|sold)"
    :PetId "[0-9a-zA-Z]{3,7}"
  }
  :vars {
    "petId" {:type :PetId :doc "ID of pet" :gen false}
    "name" {:type :String :doc "Updated name of the pet" :examples ["tiddles"]}
    "status" {:type :Status :doc "Updated status of the pet"}
  }

  "petstore-demo" {
    "api/pet" {
      :get {
        :doc "Finds all pets, or pets filtered by status or tags"
        :vars {"tags" {:type :String :doc "Tags to filter by"}}
        :req {
          :query-params {
            "status" ["${status}" :optional]
            "tags"   ["${tags}"   :optional]
          }
        }
        :rsp {
          ;; no need for a header, it is derived from the body file
          :200 {:body-examples ["public/data/content/doc/responses/simple/200-ref.json"]}
        }
      }

      :put {
        :doc "Full description for update an existing pet"
        :rsp {
          ;; no need for a header, it is derived from the body file
          :200 {:body-examples ["public/data/content/doc/responses/simple/200-ref.json"]}
          :400 {:doc "Pet not found"}
          :404 {:doc "Invalid ID supplied"}
          :405 {
            :doc "Validation exception"
            ;; override the content type calculated from the file extension
            :headers {"Content-Type" "application/problem+json" "Content-Language" "en"}
            :body-examples ["public/data/content/problems/bad-custom-domain-field.json"]
          }
        }
      }

      :post {
        :doc "Add a new pet to the store"
        :req {
          ; :body-schema is an optional addition for payload validation - either .json for json-schema, or .xsd for xml validation.
          :body-schema "public/data/schemas/pet.schema.json"
          :body-examples ["public/data/content/doc/requests/new-pet.json"]
        }
        :rsp {
          :201 {:headers {"Location" "/pet/${petId}"}}
          :405 {:doc "Validation exception"}
        }
      }
    }

    "api/pet/${petId}" {
      :post {
        :doc "Updates a pet in the store with form data"
        :req {
          :form-params {
            "name" ["${name}" :required]
            "status" ["${status}" :required]
          }
        }
        :rsp {
          :200 {:doc "Updated"}
          :405 {:doc "Validation exception"}
        }
      }

      :get {
        :doc "Find a pet by ID"
        :rsp {
          :200 {
            :body-schema  "public/data/schemas/pet.schema.json"
            :body-examples ["public/data/content/doc/responses/simple/pet.json"]
          }
          :404 {:doc "Invalid ID supplied"}
          :405 {
            :doc "Validation exception"
            ;; override the content type calculated from the file extension
            :headers {"Content-Type" "application/problem+json" "Content-Language" "en"}
            :body-examples ["public/data/content/problems/bad-custom-domain-field.json"]
          }
        }
      }

      :delete {
        :doc "Deletes a pet"
        :rsp {
          :204 {}
          :404 {:doc "Invalid ID supplied"}
        }
      }

      :patch {
        :doc "Partial updates to a pet"
        :rsp {
          :204 {}
          :404 {:doc "Invalid ID supplied"}
        }
      }
    }

    "api/uploadImage" {
      :post {
        :doc "uploads an image"
        :req {
          :query-params { "additionalMetadata" ["${additionalMetadata}" :required]}
          ;           {"file" {:type :File}} ; Binary?; Multipart?
        }
        :vars {"additionalMetadata" {:type :String, :doc "Additional data to pass to server"}}
        :rsp {
          :204 {}
          :400 {}
        }
      }
    }
  }
}
