;; Sample API codex
;;
;; We call Protean Project/Service configurations codices
;; The sample codex illustrates most if not all of what is possible
;; with Protean
;;

{
  :includes [ "defaults.edn" ]

  "petstore" {

    "api/pet" {

      :put {
        :doc "Update an existing pet"
        :errors {:status [400 404 405]} ; Need to document the error codes
      }

      :post {
        :doc "Add a new pet to the store"
        :errors {:status [405]}
      }

    }
  
    "api/pet/*" {

      :post {
        :doc "Updates a pet in the store with form data"
        :req {
          :query-params {:required {"name" "psv+name" "status" "psv+status"}}
          :vars {
            "pet/psv+" {:type "[0-9a-zA-Z]{3,7}" :doc "ID of pet that needs to be updated"}
            "name" {:type :String, :doc "Updated name of the pet"}
            "status" {:type "(available|pending|sold)", :doc "Updated status of the pet"}
          }
        }
        :errors {:status [405]}
      }

      :get {
        :doc "Find a pet by ID"
        :req {
          :vars {"pet/psv+" {:type "[0-9a-zA-Z]{3,7}" :doc "ID of pet that needs to be fetched"}}
        }
        :errors {:status [400 404]}
      }

      :delete {
        :doc "Deletes a pet"
        :req {
          :vars {"pet/psv+" {:type "[0-9a-zA-Z]{3,7}" :doc "ID of pet that needs to be deleted"}}
        }
      }

      :patch {
        :doc "Partial updates to a pet"
        :req {
          :vars {"pet/psv+" {:type "[0-9a-zA-Z]{3,7}" :doc "ID of pet that needs to be patched"}}
        }
      }

    }

    "api/pet/findByStatus" {
      :get {
        :doc "Finds pets by status"
        :query-params {:optional {"status" {:type "(available|pending|sold)" :doc "Status values that need to be considered for filter. available is default."}}}
      }
    }

    "api/pet/findByTags" {
      :get {
        :doc "Finds pets by tags"
        :query-params {:required {"tags" {:type :String :doc "Tags to filter by"}}}
      }
    }

    "api/pet/uploadImage" {
      :post {
        :doc "uploads an image"
        :query-params {:required {"additionalMetadata" {:type :String, :doc "Additional data to pass to server"}}
;           {"file" {:type :File}} ; Binary?; Multipart?
        }
      }
    }
  }
}
