<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="API Documentation" />
    <meta name="author" content="Protean" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/pygments-manni.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap-prettify.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/tipuesearch.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/tipuedrop.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/style.css"></link>
    <script type="text/javascript" src="resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch_set.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch_content.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch.min.js"></script>
    <script type="text/javascript" src="resource/js/tipuedrop.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
    <script src="resource/js/prettify/prettify.js"></script>
  </head>
  <body onload="prettyPrint();">
    <div data-sw-component="header">Placeholder for header</div>
    <br/><br/><br/><br />
    <div class="container">
      <div data-sw-view="">Placeholder for view</div>
      <script src="resource/js/application.js"></script>
      <div data-sw-component="footer">Placeholder for footer</div>
    </div>
  </body>
</html>
