<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="author" content="Protean" />
    <meta name="description" data-sw-content="site-name" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-sw-source="protean-api/global/site.edn" data-sw-text="site-name"></title>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/tipuesearch.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/print.css" media="print"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/highlightjs-github.css"></link>
    <script type="text/javascript" src="resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/proper.min.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch_content.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch.min.js"></script>
    <script type="text/javascript" src="resource/js/clipboard.min.js"></script>
    <script type="text/javascript" src="resource/js/highlight.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div data-sw-component="header">Placeholder for header</div>
    <div class="container-fluid">
      <div data-sw-view="">Placeholder for view</div>
      <div data-sw-component="footer">Placeholder for footer</div>
    </div>
    <script>
      hljs.initHighlightingOnLoad();

      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
      });

      var clipboardBtn = (
        '<div class="bd-clipboard">' +
          '<button class="btn btn-primary btn-sm btn-clipboard" data-clipboard-snippet data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Copied!">' +
            'Copy' +
          '</button>' +
        '</div>'
      );

      [].forEach.call(document.querySelectorAll('pre.snippet'), function(el) {
        el.insertAdjacentHTML('beforebegin', clipboardBtn);
      });

      /* For markdown generated snippets */
      [].forEach.call(document.querySelectorAll('code.snippet'), function(el) {
        el.parentElement.insertAdjacentHTML('beforebegin', clipboardBtn);
      });

      var clipboardSnippets = new ClipboardJS('[data-clipboard-snippet]', {
        target: function(trigger) {
          return trigger.parentNode.nextElementSibling;
        }
      });
      clipboardSnippets.on('success', function(e) {
        e.clearSelection();
      });
      clipboardSnippets.on('error', function(e) {
        alert("An error occurred while copying to clipboard.");
      });
    </script>
  </body>
</html>
