(ns protean.tutorial6
  (:require [protean.api.transformation.sim :refer :all]))
{
  "tutorial-6" {
    "play/${stateId}" {
      :get #(if-let [f (find-path % (str "public/tutorial/6" (path-param "stateId") ".json"))]
             (respond % 200 (slurp f))
             (respond % 404))
    }
  }
}
