(refer 'protean.core.transformation.sim)

(defn param2rsp [{:keys [route-params]} data-path]
  (if-let [rsp (rsp-body-file data-path (path-param route-params) ".json")]
    (slurp rsp)
    {:status 404}))

{
  "tutorial-6" {
    "play/${stateId}" {
      :get [
        (fn [] (param2rsp *request* "public/tutorial/6"))
      ]
    }
  }
}
