(ns protean.tutorial6
  (:require [protean.api.transformation.sim :refer :all]))
{
  "tutorial-6" {
    "play/${stateId}" {
      :get (if-let [rsp (dk/find-file % (str "public/tutorial/6" (path-param "stateId") ".json"))]
             (respond % 200 rsp)
             (respond % 404))
    }
  }
}
