;; Protean Sim Utilities
;;;;;;;;;;;;;;;;;;;;;;;;

(ns protean.helloworld.json
  (:require [protean.api.transformation.sim :refer :all]))

(dependencies '[[protean-simlib "0.12.2"]])
(require '[protean.simlib :as sl])

;; =============================================================================
;; Hello world json API Endpoints
;; =============================================================================

{
  "tutorial-7" {
    "hello/world" {
      :get #(sl/jsn 200 "hello world")
    }
  }
}
