{
  :includes ["defaults.edn"]

  :title "Text Adventure Part 4"
  :doc "Game actions"

  "textad-4" {
    :vars {"name" {:type :String :doc "Player name"}}

    "register" {
      :put {
        :doc
"
# Register to play

Register to play the text adventure.

Accepts a request parameter called name.
"
        :req {:query-params {:required {"name" "${name}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
          :400 {:doc "Bad Request"}
        }
      }
    }

    "look" {
      :get {
        :doc
"
# See your current location

Look at your current location.
"
        :req {:query-params {:required {"name" "${name}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
        }
      }
    }

    "go" {
      :types {
        :Direction "(north|south|west|east)"
      }
      :put {
        :doc
"
# Go somewhere in the game world

Will move you to a new location.
"
        :vars {"direction" {:type :Direction :doc "Direction to move in"}}
        :req {
          :query-params {
            :required {"name" "${name}" "direction" "${direction}"}
          }
        }
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }

    "inventory" {
      :get {
        :doc "See your inventory"
        :req {:query-params {:required {"name" "${name}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/inventory-ref.json"]
          }
        }
      }
    }

    "pickup" {
      :put {
        :doc
"
# Pickup an item

Will pickup an item in the game world.
"
        :vars {"item" {:type :String :doc "Item to pick up"}}
        :req {:query-params {:required {"name" "${name}" "item" "${item}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }

    "slap" {
      :put {
        :doc
"
# Slap an entity

Will slap an entity.
"
        :vars {"target" {:type :String :doc "Entity to slap"}}
        :req {:query-params {:required {"name" "${name}" "target" "${target}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }

    "mug" {
      :put {
        :doc
"
# Mug an entity

Will mug an entity.
"
        :vars {"target" {:type :String :doc "Entity to mug"}}
        :req {:query-params {:required {"name" "${name}" "target" "${target}"}}}
        :rsp {
          :200 {
            :doc "OK"
            :body-examples ["public/examples/text-adventure-4/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }
  }
}
