;; Tutorial 2

;; Introduces the basics of encoding/documenting a RESTful API

{
  :includes ["defaults.edn"]

  :title "Tutorial 2"
  :doc "Demonstrates types and variables"

  "tutorial-2" {
    "play/${stateId}" {
      :get {
        :doc
"
# A single player REST adventure world

A simple text adventure world for one player.

Sample usage may be something like /tutorial-1/play/cave, indicating the player
is in a cave.
"
        :vars {
          "stateId" {:type :Int :doc "ID for the state of the game"}
        }
        :rsp {
          :404 {:doc "Not Found"}
        }
      }
    }
  }
}
