<html>
<body>
  <ul class="list-unstyled">
    <li>
      <div class="body-example-link">
        <a data-toggle="modal" data-sw-href="#id" data-sw-text="title">N/A</a>
      </div>
      <div class="modal fade" data-sw-id="id" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">x</span><span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">
                <span data-sw-text="title"></span>
              </h4>
            </div>
            <div class="modal-body">
              <p>
                <span class="label label-info" data-sw-text="method"></span>
                <span data-sw-text="path"></span>
              </p>
              <pre class="prettyprint" data-sw-text="value">N/A</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>
