<html>
<body>
  <ul class="list-unstyled">
    <li>
      <section data-sw-id="id" id="">
        <div class="page-header">
          <h2>
            <span class="label label-info" data-sw-text="method">placeholder for method</span>
            <span data-sw-text="path">placeholder for path</span>
          </h2>
        </div>
        <p data-sw-text="doc">placeholder for doc</p>
        <a data-sw-href="sw/path" href="#">Further details</a>
      </section>
    </li>
  </ul>
</body>
</html>
