<html>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="index.html" data-sw-component="site-name">
        Placeholder for site name
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul id="header-page-links" class="navbar-nav mr-auto" data-sw-source="sw/views" data-sw-sort="priority" data-sw-sort-dir="ascending">
          <li class="nav-item">
            <a class="nav-link" data-sw-href="path" class="nav-link">
              <span data-sw-text="title">Placeholder for title</span>
            </a>
          </li>
        </ul>
        <form action="search.html" class="form-inline mt-2 mt-md-0" role="search">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" autocomplete="off" required autofocus>
        </form>
      </div>
    </nav>
    <script>
      $(document).ready(function() {
         var pathname = window.location.pathname;
         if (pathname.endsWith("/")) {
           pathname = pathname + "index.html"
         }

         $('#header-page-links li').each(function() {
           var li = $(this);
           var a = li.find("a:first");
           if (pathname.endsWith("/" + a.attr('href'))) {
             li.addClass('active');
           }
         });
      });
    </script>
  </body>
</html>
