<html>
  <body>
    <div id="navbar-header" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span data-sw-component="site-name" data-sw-source="protean-api/global"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <div data-sw-component="header-menu" data-sw-source="sw/views" data-sw-sort="priority" data-sw-sort-dir="ascending">
            Placeholder for header menu component
          </div>
          <div class="pull-right">
            <form action="search.html" class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="tipue_search_input" autocomplete="off" required />
              </div>
              <button type="submit" class="btn btn-default" alt="Search" title="Search">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
            <div style="margin-top:45px" id="tipue_drop_content"></div>
            <script>
              $(document).ready(function() {
                 $('#tipue_search_input').tipuedrop();
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
