<html>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span data-sw-component="site-name" data-sw-source="protean-api/global"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" data-sw-source="sw/views" data-sw-sort="priority" data-sw-sort-dir="ascending">
            <li>
              <a data-sw-href="path">
                <span data-sw-text="title">Placeholder for title</span>
              </a>
            </li>
          </ul>
          <form action="search.html" class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q" id="tipue_search_input" autocomplete="off" required />
            </div>
            <button type="submit" class="btn btn-default" alt="Search" title="Search">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>
          <div style="margin-top:45px" id="tipue_drop_content"></div>
          <script>
            $(document).ready(function() {
               $('#tipue_search_input').tipuedrop();
            });
          </script>
        </div>
      </div>
    </nav>
  </body>
</html>
