<html>
<body>
  <div class="bs-sidebar" role="complementary">
    <nav id="menu" class="bs-sidenav">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a data-sw-href="#id" href="#anchor" class="nav-link">
            <div class="table-custom">
              <div class="cell" style="width: 46px;"><span class="badge badge-info" data-sw-text="method">placeholder method</span></div>
              <div class="cell"><span class="path" data-sw-text="path">placeholder path</span></div>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <script>
    $(document).ready(function(){
      var $window   = $(window);
      var $body     = $(document.body);
      var navHeight = $('.navbar').outerHeight(true);

      function affix() {
        if ($window.scrollTop() >= 250) {
          $('.bs-sidebar').addClass('bs-sidebar-affix');
          if ($window.width() > 980) {
            $('.active').focus();
          }
        } else {
          $('.bs-sidebar').removeClass('bs-sidebar-affix');
          $('.form-control').focus();
        }
      }

      $body.scrollspy({
        target: '.bs-sidebar',
        offset: navHeight
      });

      affix();
      $window.on('scroll', function(event) {
        affix();
      });
    });
  </script>
</body>
</html>
