<html>
<body>
  <div class="bs-sidebar" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a data-sw-href="#id" href="#anchor">
          <table cellspacing="2">
            <tr>
              <td style="width: 46px;">
                <span class="label label-info" data-sw-text="method">placeholder method</span>
              </td>
              <td>
                <span data-sw-text="path">placeholder path</span>
              </td>
            </tr>
          </table>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
