<html>
<body>
  <div class="bs-sidebar" role="complementary" style="width:320px;">
    <ul class="nav bs-sidenav">
      <li>
        <a data-sw-href="#id" href="#anchor" style="padding:3px 10px 3px 10px;clear:both;">
          <div class="row">
            <div class="col-md-2" style="width:46px;">
              <span class="label label-info" data-sw-text="method">method</span>
            </div>
            <div class="col-md-10">
              <span data-sw-text="path">path</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
