<html>
<body>
  <div data-sw-when="req-body-examples">
    <h4>Body Examples</h4>
    <ul class="list-unstyled">
      <li>
        <div class="modal-link">
          <a data-toggle="modal" data-sw-href="req-body-examples.#id" data-sw-text="req-body-examples.title"></a>
        </div>
        <div class="modal fade" data-sw-id="req-body-examples.id" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  Body Example: <span data-sw-text="req-body-examples.title"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  <div data-sw-component="method-path">placeholder for method path</div>
                </p>
                <pre class="snippet"><code class="json" data-sw-text="req-body-examples.value">N/A</code></pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
