<html>
<body>
  <pre class="prettyprint" data-sw-text="responses.rsp-first-body-example.value">N/A</pre>
  <ul class="list-unstyled">
    <li>
      <div class="body-example-link">
        <a data-toggle="modal" data-sw-href="responses.rsp-body-examples.#id" data-sw-text="responses.rsp-body-examples.title">N/A</a>
      </div>
      <div class="modal fade" data-sw-id="responses.rsp-body-examples.id" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">
                Sample Response: <span data-sw-text="responses.rsp-body-examples.title"></span>
              </h4>
            </div>
            <div class="modal-body">
              <p>
                <div data-sw-component="method-path">placeholder for method path</div>
              </p>
              <pre class="prettyprint" data-sw-text="responses.rsp-body-examples.value">N/A</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>
