<html>
<body>
  <ul class="list-unstyled" >
    <li>
      <section data-sw-data-sw-nav="path" data-sw-id="id" data-sw-content="">
        <div class="page-header">
          <a data-toggle="collapse" data-sw-href="#collapseId" title="Expand/Collapse" aria-expanded="true" data-sw-aria-controls="collapseId">
            <h2>
              <div data-sw-component="method-path">placeholder for method path</div>
            </h2>
          </a>
        </div>
        <div class="collapse show" data-sw-id="collapseId">
          <div data-sw-text="doc-md">placeholder for doc</div>
          <div data-sw-component="request-params">Placeholder for query params list</div>
          <div data-sw-component="request-body-examples">Placeholder for body examples</div>
          <div data-sw-component="request-schema">Placeholder for schema</div>
          <h4>Sample curl command</h4>
          <pre class="snippet"><code class="bash" data-sw-text="curl">Placeholder for sample curl command</code></pre>
          <h4>Responses</h4>
          <div data-sw-when="responses">
            <table class="table response">
              <tbody>
                <tr class="blank-row">
                  <td colspan="2"></td>
                </tr>
                <tr data-sw-class="responses.class">
                  <th data-sw-text="responses.code">Placeholder for response status</th>
                  <td data-sw-text="responses.doc-md">Placeholder for response description</td>
                </tr>
                <tr data-sw-class="responses.class" data-sw-when="responses.headers">
                  <th>Headers</th>
                  <td>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td data-sw-text="responses.headers.title"></td>
                          <td><code data-sw-text="responses.headers.value-type" data-toggle="tooltip" data-sw-title="responses.headers.regx" /></td>
                          <td data-sw-text="responses.headers.doc-md"></td>
                          <td data-sw-text="responses.headers.attr"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr data-sw-class="responses.class" data-sw-when="responses.rsp-first-body-example">
                  <th>Body Examples</th>
                  <td data-sw-component="response-body-examples">Placeholder for response body examples</td>
                </tr>
                <tr data-sw-class="responses.class" data-sw-when="responses.rsp-body-schema-id">
                  <th>Schema</th>
                  <td data-sw-component="response-schema">Placeholder for response schema</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div data-sw-when-not="responses">Responses have not been defined!</div>
      </section>
    </li>
  </ul>
</body>
</html>
