<html>
<body>
  <ul class="list-unstyled">
    <li>
      <section data-sw-data-sw-nav="path" data-sw-id="id" data-sw-content>
        <div class="page-header">
          <h2>
            <span class="label label-info" data-sw-text="method">Placeholder for method</span>
            <span data-sw-text="path">Placeholder for path</span>
          </h2>
        </div>
        <h3 data-sw-text="doc">placeholder for doc</h3>
        <pre class="text" data-sw-text="desc">placeholder for desc</pre>
        <h4>Headers</h4>
        <div data-sw-component="request-headers">Placeholder for headers</div>

        <h4>Parameters</h4>
        <div data-sw-component="query-params">Placeholder for query params list</div>

        <h4>Body Examples</h4>
        <div data-sw-component="request-body-examples">Placeholder for body examples</div>

        <h4>Schema</h4>
        <div class="body-example-link">
          <a data-toggle="modal" data-sw-href="#req-body-schema-id" data-sw-text="req-body-schema-title">N/A</a>
        </div>

        <div class="modal fade" data-sw-id="req-body-schema-id" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                  <span data-sw-text="req-body-schema-title"></span>
                </h4>
              </div>
              <div class="modal-body">
                <p>
                  <span class="label label-info" data-sw-text="method"></span>
                  <span data-sw-text="path"></span>
                </p>
                <pre class="prettyprint" data-sw-text="req-body-schema">N/A</pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <h4>Sample curl command</h4>
        <pre class="prettyprint" data-sw-text="curl">Placeholder for sample curl command</pre>

        <h4><span class="label label-success">Success</span> responses</h4>
        <div data-sw-component="status-codes-success">Placeholder for status codes</div>

        <h4><span class="label label-danger">Error</span> responses</h4>
        <div data-sw-component="status-codes-error">Placeholder for status codes</div>
      </section>
    </li>
  </ul>
</body>
</html>
