<html>
<body>
  <ul class="list-unstyled">
      <li>
      <table class="table">
        <tr>
          <td>
            Status
          </td>
          <td>
            <span data-sw-text="code">
              N/A
            </span>
          </td>
        </tr>
        <tr>
          <td>
            Description
          </td>
          <td>
            <span data-sw-text="doc">
              N/A
            </span>
          </td>
        </tr>
        <tr>
          <td>
            Headers
          </td>
          <td>
            <span data-sw-text="headers">
              N/A
            </span>
          </td>
        </tr>
        <tr>
          <td>
            Sample response
          </td>
          <td>
            <pre class="prettyprint" data-sw-text="sample-response">
              N/A
            </pre>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</body>
</html>
