<html>
<body>
  <ul class="list-unstyled">
    <li>
      <table class="table response">
        <tr class="danger">
          <td class="small">Status</td>
          <td data-sw-text="rsp-error-codes.code">N/A</td>
        </tr>
        <tr class="danger">
          <td class="small">Description</td>
          <td data-sw-text="rsp-error-codes.doc">N/A</td>
        </tr>
        <tr class="danger">
          <td class="small">Headers</td>
          <td data-sw-text="rsp-error-codes.headers">N/A</td>
        </tr>
        <tr class="danger">
          <td class="small">Sample response</td>
          <td>
            <pre class="prettyprint" data-sw-text="rsp-error-codes.sample-response">N/A</pre>
          </td>
        </tr>
        <tr class="danger">
          <td class="small">Response Schema</td>
          <td>
            <div class="body-example-link">
              <a data-toggle="modal" data-sw-href="rsp-error-codes.#rsp-body-schema-id" data-sw-text="rsp-error-codes.rsp-body-schema-title">N/A</a>
            </div>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</body>
</html>
