{
  :includes ["defaults.edn"]

  :title "Text Adventure Part 3"
  :doc "Multiplayer text adventure"

  "textad-3" {
    :vars {"name" {:type :String :doc "Player name"}}

    "register" {
      :put {
        :doc "Register to play"
        :description
"Register to play the text adventure.

Accepts a request parameter called name."
        :req {:query-params {"name" ["${name}" :required]}}
        :rsp {
          :200 {
            :doc "OK"
            :body-example ["public/examples/text-adventure-3/look-ref.json"]
          }
          :400 {:doc "Bad Request"}
        }
      }
    }

    "look" {
      :get {
        :doc "See your current location"
        :description
"Look at your current location."
        :req {:query-params {"name" ["${name}" :required]}}
        :rsp {
          :200 {
            :doc "OK"
            :body-example ["public/examples/text-adventure-3/look-ref.json"]
          }
        }
      }
    }

    "go" {
      :types {
        :Direction "(north|south|west|east)"
      }
      :put {
        :doc "Go somewhere in the game world"
        :description
"Will move you to a new location."
        :vars {"direction" {:type :Direction :doc "Direction to move in"}}
        :req {
          :query-params {
            "name" ["${name}" :required]
            "direction" ["${direction}" :required]
          }
        }
        :rsp {
          :200 {
            :doc "OK"
            :body-example ["public/examples/text-adventure-3/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }

    "inventory" {
      :get {
        :doc "See your inventory"
        :req {:query-params {"name" ["${name}" :required]}}
        :rsp {
          :200 {
            :doc "OK"
            :body-example ["public/examples/text-adventure-3/inventory-ref.json"]
          }
        }
      }
    }

    "pickup" {
      :put {
        :doc "Pickup an item"
        :description
"Will pickup an item in the game world.

Accepts a request parameter called item."
        :vars {"item" {:type :String :doc "Item to pick up"}}
        :req {
          :query-params {
            "name" ["${name}" :required]
            "item" ["${item}" :required]
          }
        }
        :rsp {
          :200 {
            :doc "OK"
            :body-example ["public/examples/text-adventure-3/look-ref.json"]
          }
          :404 {:doc "Not Found"}
        }
      }
    }
  }
}
