@import url("bootstrap.min.css");

@page {
  size: A4;
  margin: 10mm 5mm 10mm 5mm;
}

*, ::after, ::before {
  color: auto !important;
}

a {
  text-decoration: none !important;
}

.navbar, .btn-clipboard {
  display: none !important;
}

.row {
  display: block; /* firefox issue when display: flex; */
}

section {
  page-break-before: always;
}

h1, .page-header {
  margin: 0mm !important;
  padding: 1mm 0mm 1mm 0mm !important;
  border-bottom: 0.1mm solid #eee;
}

.jumbotron, .snippet {
  margin: 0mm !important;
  padding: 0mm !important;
}

pre {
  border: none;
}

.badge {
  border: none;
  color: #000;
}

.jumbotron p {
  margin-top: 5mm;
}

/* Show body examples */
div, span, p, pre {
  max-height: none !important;
  overflow: visible !important;
  page-break-inside: auto;
}

tr.blank-row td {
  margin: 0px !important;
  padding: 0px !important;
}

.modal-link {
  display: none;
}

.modal {
  position: relative;
  display: block;
}

.fade {
  opacity: 100;
}

.modal-header, .modal-footer {
  display: none;
}

.modal-body {
  position: relative !important;
  display: block !important;
  padding: 0px;
}

.modal-body .method-path {
  display: none;
}

.modal.fade .modal-dialog {
  transform: none;
}
.modal-lg {
  width: auto;
  margin: 0px;
}
.modal-content {
  border: none;
}
