/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

body {
  margin: 70px auto 0px auto;
}

section {
  margin-bottom: 30px;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar-affix {
  position: static;
  margin-top: 10px;
}

/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  outline: 0;
  color: #716b7a;
  padding: 5px 10px;
  word-wrap: auto;
  -webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
  border-top: none;
  border-bottom: none;
}
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
  border-top: none !important;
  border-bottom: none;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* a.company-brand {
  float:right;
  padding:10px;
  font-size: 25px;
  color:#ff6600;
} */

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-height: 400px;
}

/* ul, ol {
  margin-bottom: 10px !important; /* For markdown pargraph, list, pargraph styling */
} */

ol.nav, ul.nav {
  margin-bottom: 0px !important;
}

.nav ul, ol {
  margin-bottom: 0px !important;
}

.table-custom {
  display: table;
}

.table-custom .cell {
  display: table-cell;
  vertical-align: middle;
}

.path {
  word-break: break-word !important;  /* For Chrome and Safari */
}

table {
  margin-bottom: 0px !important;
}

table.response th {
  width: 80px;
  text-align: center;
  font-weight: normal;
  border-color: #fff !important;
  vertical-align: middle !important;
}

table.response td {
  border-color: #fff !important;
  vertical-align: middle !important;;
}

table.response td p {
  padding: 0px;
  margin: 0px;
}

table.response table td {
  border-color: #ddd !important;
}

tr.blank-row td {
  padding: 3px !important;
}

td.small {
  width: 100px;
}

div.modal-footer {
  justify-content: center;
}

section div.page-header {
  padding-top: 76px;
  margin-top: -76px;
	/* border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 16px; */
}

.bd-clipboard {
  position: relative;
  float: right;
}

.btn-clipboard {
  position: absolute;
  top: .4rem;
  right: .6rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: #f7f7f9;
  border-color: #f7f7f9;260
}

.snippet {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #f7f7f9;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f7f7f9;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  /* Widen the fixed sidebar */
  .bs-sidebar-affix {
    width: inherit;
    padding-left: 0px;
    padding-right: 30px;
    width: 33.333333%;
  }
  .bs-sidebar-affix {
    position: fixed;
    top: 60px;
  }
  .bs-sidenav {
    max-height: 91vh;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar */
  .bs-sidebar-affix {
    width: 25%;
  }
}
