/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
  margin-top: 10px;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 10px;
  word-wrap: auto;
  -webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

a.company-brand {
  float:right;
  padding:10px;
  font-size: 25px;
  color:#ff6600;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-height: 400px;
}

.table-custom {
  display: table;
}

.table-custom .cell {
  display: table-cell;
  vertical-align: middle;
}

.path {
  word-break: break-word !important;  /* For Chrome and Safari */
}

pre.text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  border: 0px;
  background-color: #fff;
  margin: 0px;
  padding: 2px;
  max-height: 100%;
}

table {
  margin-bottom: 0px !important;
}

table.response td {
  border-color: #fff !important;
}

tr.blank-row td {
  padding: 3px !important;
}

td.small {
  width: 100px;
}

div.modal-footer {
  text-align: center;
}

section div.page-header {
  padding-top: 40px;
  margin-top: -40px;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: inherit;
    padding-left: 0px;
    padding-right: 30px;
    width: 33.333333%;
  }

  .bs-sidebar.affix {
    position: fixed;
    top: 30px;
  }
  .bs-sidebar.affix-bottom {
    position: relative;;
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 25%;
  }
}
