/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

body {
  margin: 70px auto 0px auto;
}

.bs-sidebar {
  font-size: 90%;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar-affix {
  position: static;
  margin-top: 10px;
}

.bs-sideheader {
  padding-bottom: 4px;
}

.bs-sideheader a {
  color: #563d7c;
}

/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  outline: 0;
  color: #716b7a;
  padding: 5px 10px;
  word-wrap: auto;
  -webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
  border-top: none;
  border-bottom: none;
}
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
  border-top: none !important;
  border-bottom: none;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-height: 400px;
}

ol.nav, ul.nav {
  margin-bottom: 0px !important;
}

.table-custom {
  display: table;
}

.table-custom .cell {
  display: table-cell;
  vertical-align: middle;
}

.table-custom .cell .badge {
  margin-right: 5px;
}

.nav .table-custom .cell .badge {
  width: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.page-header .table-custom .cell .badge {
  width: 86px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.path {
  word-break: break-word !important;  /* For Chrome and Safari */
}

table.response th {
  width: 80px;
  text-align: center;
  font-weight: 500;
  border-color: #fff !important;
  vertical-align: middle !important;
}

table.response td {
  border-color: #fff !important;
  vertical-align: middle !important;
}

table.response td p {
  padding: 0px;
  margin: 0px;
}

table.response table td {
  border-color: #ddd !important;
}

tr.blank-row td {
  padding: 3px !important;
}

td.small {
  width: 100px;
}

td p,
td table,
td ul,
td pre {
  margin-bottom: 0px !important;
}

.modal-lg {
  max-width: 80%;
}

.modal-footer {
  justify-content: center;
}

.page-header {
  padding-top: 68px;
  margin-top: -68px;
}

.page-header a {
  color: #495057;
  text-decoration: none;
  height: 100%;
  display: block;
  outline: 0;
}

.page-header a .symbol:after {
  content: "";
  font-family: 'Glyphicons Halflings';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.page-header a[aria-expanded="true"] .symbol:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page-header a[aria-expanded="false"] .symbol:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

section .collapse {
  padding-bottom: 1em;
}

.bd-clipboard {
  position: relative;
  float: right;
}

.btn-clipboard {
  position: absolute;
  top: .4rem;
  right: .6rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: #f7f7f9;
  border-color: #f7f7f9;
}

.snippet-title {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: .75rem;
  padding-left: .75rem;
  border: solid #f7f7f9;
  border-width: .2rem;
}

.snippet {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: .75rem;
  padding-left: .75rem;
  background-color: #f7f7f9;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f7f7f9;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .container-fluid {
    overflow-x: hidden;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar-affix {
    width: inherit;
    padding-left: 0px;
    padding-right: 30px;
    width: 33.333333%;
  }
  .bs-sidebar-affix {
    position: fixed;
    top: 60px;
  }
  .bs-sidenav {
    max-height: 91vh;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar */
  .bs-sidebar-affix {
    width: 25%;
  }
}
