<html>
  <body data-sw-nav="Home" data-sw-priority="1">
    <div class="jumbotron">
      <h1><span data-sw-component="site-name" data-sw-source="protean-api/global"/></h1>
      <div data-sw-component="site-doc" data-sw-source="protean-api/global"/></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div data-sw-component="menu" data-sw-source="protean-api/api" data-sw-sort="codex-order">
          Placeholder for menu
        </div>
      </div>
      <div class="col-lg-9 col-md-8" role="main">
        <div data-sw-component="services" data-sw-source="protean-api/api" data-sw-sort="codex-order">
          Placeholder for contents
        </div>
      </div>
    </div>
  </body>
</html>
