<html>
<body data-sw-nav="Home" data-sw-priority="1">
  <div class="jumbotron">
    <h1 data-sw-component="site-name"></h1>
    <div data-sw-component="site-doc"></div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4" data-sw-component="menu" data-sw-source="protean-api/api" data-sw-sort="codex-order">
      Placeholder for menu
    </div>
    <main class="col-xl-9 col-lg-8" role="main">
      <div data-sw-component="services" data-sw-source="protean-api/api" data-sw-sort="codex-order">
        Placeholder for contents
      </div>
    </div>
  </div>
</body>
</html>
