;; Sample API codex and Sim extension
;;
;; Demonstrates forming a Json response using the sample sim library dependency
;;

{
  :includes [ "defaults.edn" ]

  :title "Hello World Json API Docs"
  :doc "A sample hello world json API which demonstrates using the sample sim library."

  "tutorial-7" {

    "hello/world" {
      :get {
        :doc "Demonstrates a sim extension which in turn uses a custom sim library"
        :rsp {:200 {}}
      }
    }


  }
}
