(refer 'protean.core.transformation.sim)
(require '[clojure.string :refer [join]]
         '[alandipert.enduro :as e])

(defn format [list] (join " " (map #(symbol (name %)) list)))

(def world (e/file-atom
{
  'office-cubicle '((you are in your office cubicle -)
    (west exit walkway))
  'walkway '((you are in the walkway at the side of the office -)
    (east exit office-cubicle)
    (north exit reception)
    (south exit bobs-office))
  'reception '((you are in reception - it is drab -)
    (west exit miltons-cubicle)
    (south exit walkway))
  'bobs-office '((you in the Bobs office -)
    (north exit walkway))
  'miltons-cubicle '((you are in miltons office -)
    (east exit reception))
} "tutorial-7-world.sav"))

(def location (e/file-atom 'office-cubicle "tutorial-7-location.sav"))

(defn describe-location [location world] (first (location world)))

(defn describe-path [path]
  `(there is an ~(second path) going ~(first path) from here -))

(defn describe-paths [location world]
  (apply concat (map describe-path (rest (get world location)))))

(defn look []
  (format (concat (describe-location @location @world)
                      (describe-paths @location @world))))

(defn go [direction]
  (let [next (first (filter (fn [x] (= direction (first x))) (rest (@location @world))))]
    (cond next (do (def location (atom (nth next 2))) (look))
          :else '(you cannot go that way -))))

(defn go-rest []
  (let [dir (symbol (get-in *request* [:query-params "direction"]))]
    (rsp (go dir))))

{
  "tutorial-7" {
    "look" {:get [#(rsp (look))]}
    "go" {:put [#(go-rest)]}
  }
}
