(refer 'protean.core.transformation.sim)

(def state
  (atom
    [
      {
        :id "cave"
        :description "You are in a cave, it is dark"
        :links [
          {:href "tutorial-7/play/forest" :title "forest"}
        ]
      }
      {
        :id "forest"
        :description "You are in a forest, it is scary"
        :links [
          {:href "tutorial-7/play/cave" :title "cave"}
          {:href "tutorial-7/play/meadow" :title "meadow"}
        ]
      }
      {
        :id "meadow"
        :description "You are in a meadow, it is shiny"
        :links [
          {:href "tutorial-7/play/village" :title "village"}
        ]
      }
      {
        :id "village"
        :description "You are in a village, there is a goblin behind the cheese shop"
        :links [
          {:href "tutorial-7/play/slap-goblin" :title "slap the goblin"}
          {:href "tutorial-7/play/cave" :title "cave"}
        ]
      }
      {
        :id "slap-goblin"
        :description "You slapped the goblin, he kinda liked it"
        :links [
        {:href "tutorial-7/play/slap-goblin-again" :title "slap the goblin"}
          {:href "tutorial-7/play/cave" :title "cave"}
        ]
      }
      {
        :id "slap-goblin-again"
        :description "You slapped the goblin, he kinda didn't like it"
        :links [
        {:href "tutorial-7/play/slap-goblin" :title "slap the goblin"}
        {:href "tutorial-7/play/cave" :title "cave"}
        ]
      }
    ]))

(defn param2rsp [{:keys [route-params]}]
  (if-let [x (dissoc (rsp-body-state @state (path-param route-params)) :id)]
    {:status 200 :body (encode x *request*)}
    {:status 404}))

  {
    "tutorial-7" {
      "play/${stateId}" {
        :get [#(param2rsp *request*)]
      }
    }
  }
