(ns protean.textad2
  (:require [protean.api.transformation.sim :refer :all]
            [clojure.string :refer [join]]
            [alandipert.enduro :as e]))

(dependencies '[[protean-simlib "0.11.0-pre.6"]])
(require '[protean.simlib :as sl])

(defn fmt [list] (join " " (map #(symbol (name %)) list)))

(def world (e/file-atom
{
  'office-cubicle '((you are in your office cubicle -)
    (west exit walkway))
  'walkway '((you are in the walkway at the side of the office -)
    (east exit office-cubicle)
    (north exit reception)
    (south exit bobs-office))
  'reception '((you are in reception - it is drab -)
    (west exit miltons-cubicle)
    (south exit walkway))
  'bobs-office '((you in the Bobs office -)
    (north exit walkway))
  'miltons-cubicle '((you are in miltons office -)
    (east exit reception))
} "textad-2-world.sav"))

(def location (e/file-atom 'office-cubicle "textad-2-location.sav"))

(defn describe-location [location world] (first (location world)))

(defn describe-path [path]
  `(there is an ~(second path) going ~(first path) from here -))

(defn describe-paths [location world]
  (apply concat (map describe-path (rest (get world location)))))

(def items (atom '(photocopier red-stapler)))

(def item-locations (e/file-atom
{
  'photocopier 'walkway
  'red-stapler 'miltons-cubicle
} "textad-2-item-locations.sav"))

(defn is-at? [obj loc obj-loc] (= (obj obj-loc) loc))

(defn describe-floor [loc objs obj-loc]
  (apply concat (map (fn [x] `(you see a ~x on the floor -))
    (filter (fn [x] (is-at? x loc obj-loc)) objs))))

(defn look []
  (fmt (concat (describe-location @location @world)
               (describe-paths @location @world)
               (describe-floor @location @items @item-locations))))

(defn pickup [item]
  (cond (is-at? item @location @item-locations)
  (do
    (e/swap! item-locations assoc item 'body)
    (fmt `(you are now carrying the ~item)))
    :else (fmt '(you cannot get that.))))

(defn inventory []
  (fmt (filter (fn [x] (is-at? x 'body @item-locations)) @items)))

(defn have? [item] (some #{item} (inventory)))

(defn go [direction]
  (let [loc (first (filter #(= direction (first %)) (rest (@location @world))))]
    (cond loc (do (e/reset! location (nth loc 2)) (look))
          :else '(you cannot go that way -))))

(defn go-rest [] (let [dir (symbol (query-param "direction"))] (sl/jsn 200 (go dir))))

(defn pickup-rest [] (let [item (symbol (query-param "item"))] (sl/jsn 200 (pickup item))))

{
  "textad-2" {
    "look" {:get [#(sl/jsn 200 (look))]}
    "go" {:put [#(go-rest)]}
    "inventory" {:get [#(sl/jsn 200 (inventory))]}
    "pickup" {:put [#(pickup-rest)]}
  }
}
